@charset "UTF-8";
@media screen and (min-width: 768px) {
    span#imenu {
        display: inline-block;
    }
    .itensmenu {
        display: none;
        vertical-align: top;
    }
     .itensmenu li, .itensmenu ul {
        display: inline-block;
    }
    .itensmenu a {
        display: inline-block;
        padding-bottom: 11.5px;
        border-top: 0;
    }
    .docheckmenu:checked ~ .itensmenu {
    display:inline-block;
    }
}