@charset "UTF-8";
@media screen and (min-width: 768px) {
    span#imenu {
        display: inline-block;
    }
    menu {
        display: none;
    }
    menu ul , menu li, menu a{
        display: inline-block;
    }
}