@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
html, body  {
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, header a:hover {
    text-decoration: underline;
}
section {
    padding: 10vh 0vh 10vh 30vh;
    line-height: 2em;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(51, 51, 51);
    color: black;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
    /*
    text-transform: uppercase; letras maiúsculas
    text-transform: capitalize; primeira letra de cada palavra maiúscula
    text-transform:lowercase; letras minúsculas
    text-transform:initial; rompe a caracteristica do que estiver vinculado e tornasse o de padrão
    text-transform:inherit; herda a carcteristica do pai
    text-transform:unset; Se houver um estilo no elemento pai: O unset vai herdar esse estilo (igual ao inherit).Se NÃO houver estilo no elemento pai: O unset vai resetar para o padrão do navegador (igual ao initial, que resulta em none).

    font-variant: small-caps; As letras que já eram maiúsculas no HTML continuam grandes. As letras que eram minúsculas viram maiúsculas "pequenas", combinando com a altura da linha da fonte.
    */
    